# Laravel + Vue + Vite

/backend/vendor/
/backend/node_modules/
/backend/.env
/backend/.env.*
!/backend/.env.example
/backend/.phpunit.result.cache

# Laravel storage
/backend/storage/*.key
/backend/storage/app/public
/backend/storage/framework/cache/data
/backend/storage/framework/sessions
/backend/storage/framework/testing
/backend/storage/framework/views

# Laravel cache
/backend/bootstrap/cache/packages.php
/backend/bootstrap/cache/services.php


# FastAPI / Python

/fastapi/__pycache__/
/fastapi/*.py[cod]
/fastapi/.venv/
/fastapi/venv/
/fastapi/env/

/fastapi/.env
/fastapi/.env.*
!/fastapi/.env.example


# Docker

/docker-compose.override.yml
/docker-compose.*.local.yml
**/docker-compose.*.env


# Nginx logs

/nginx/*.log


# OS / IDE

.DS_Store
Thumbs.db

.vscode/
.idea/

*.swp
*.swo
*.log


# Temporary files

*.bak
*.tmp

# Vite
/backend/.vite/